@{
    ViewBag.Title = "Ridiculus Tortor Pharetra";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Ridiculus Tortor Pharetra</h1>

            <p>
                Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget 
                metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id 
                elit non mi porta gravida at eget metus.
            </p>

            <p>
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. 
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. 
                Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi 
                porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus 
                dolor auctor. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque 
                penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
        </div>
    </div>
</div>
