<nav class="navbar navbar-toggleable-sm d-sm-block d-md-none float-left">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">&#9776;</span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="~/">Home</a>
            <a class="nav-item nav-link" href="~/about">About</a>
            <a class="nav-item nav-link" href="~/blog">Blog</a>
        </div>
    </div>
</nav>
<nav class="navbar d-none d-md-block float-left">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-item nav-link" href="~/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="~/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="~/blog">Blog</a>
        </li>
    </ul>
</nav>
